<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
    <button (click)="rateApp();">Test App Rate</button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <button (click)="rateApp();">Test App Rate</button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
      <button (click)="rateApp();">Test App Rate</button>
    </ion-toolbar>
  </ion-header>
  <button (click)="rateApp();">Test App Rate</button>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
